ipykernel==4.8.2
ipython==7.16.3
ipython-genutils==0.2.0
jupyter-nbextensions-configurator==0.4.0
jupyterlab-server~=2.3
jupyterlab-launcher==0.13.1
matplotlib==2.2.3
numpy==1.15.1
numpydoc==0.8.0
pandas==0.23.4
pandas-profiling==1.4.1
pydotplus==2.0.2
scikit-learn==0.20
